<!DOCTYPE html>
<html>
  <head>
    <title>GiltLine</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100|Playfair+Display" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class='logo'>
        <span id='gilt'>GILT</span><span id='line'>line</span>
      </div>
      <div class='navigation-buttons'>
        <% if current_user %>
          <%= link_to 'PROFILE', profile_path %>
          <%= link_to 'DASHBOARD', dashboard_path %>
          <% if current_admin? %>
            <%= link_to 'SETTINGS', settings_path %>
          <% end %>
          <%= link_to 'SIGN OUT', logout_path, method: :delete %>
          <div class='search-bar'>
            <%= form_tag search_index_path, method: :get do %>
              <%= text_field_tag :q, 'Search', class: 'search-field' %>
              <%= submit_tag 'GO', class: 'search-button' %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </nav>

    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: "alert alert-#{type}" %>
    <% end %>

    <%= yield %>

    <footer>
    </footer>
  </body>
</html>
